NODE_ENV=development
PORT=4000
APP_URL=http://localhost:5173
JWT_SECRET=920c0c43cf8ccd7bb251448f9fb6aa091a5bc6bef88c94b5bfd3f8802b053e79
JWT_REFRESH_SECRET=c0062961e1b23daf6efa7fbeabacebd85dbff43844512b5ba5a701d609cc792e
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
DB_HOST=localhost
DB_PORT=3306
DB_NAME=quiz_management
DB_USER=quiz_user
DB_PASSWORD=supersecret

# Optional test database overrides
TEST_DB_HOST=localhost
TEST_DB_PORT=3306
TEST_DB_NAME=quiz_management_test
TEST_DB_USER=quiz_user
TEST_DB_PASSWORD=supersecret
